@import "../styles/variables.scss";

.venues.container {
  min-height: 1000px;
  background-color: $primaryMauve;
  padding-top: $spacing;
}

.venueList {
  background: $white;
  padding: $spacing;
  .venueRow {
    border-bottom: 2px solid $mediumGray;
    padding: $spacing 0;
    display: flex;
    flex-direction: column;
    &:hover {
      cursor: pointer;
    }
    &:first-child {
      padding-top: 0;
    }
    .firstRow {
      font-size: $baseFontSize * 2;
      font-weight: 400;
      margin-bottom: $halfSpacing;
      .location {
        color: $mediumGray;
      }
    }
    .secondRow {
      display: flex;
      .middle {
        padding: 0 ($spacing * 3) 0 $spacing;
        .address {
          font-weight: bold;
        }
        .description {
          color: $mediumGray;
          margin-top: $halfSpacing/2;
        }
      }
    }
    .distance {
      font-weight: bold;
      min-width: 50px;
    }
    .moreInfoLink {
      a {
        color: $primaryOrange;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: $mobileBreakpoint) {
  .venueList .venueRow .secondRow {
    .middle {
      padding-right: 0;
    }
    .distance {
      display: none;
    }
  }
}
