// fonts
$baseFontSize: 13px;

// spacing
$spacing: 20px;
$halfSpacing: $spacing / 2;

// colors
$white: #fff;
$mediumGray: #9a9a9a;
$primaryOrange: #fd7926;
$secondaryOrange: #f47226;
$mutedOrange: #ffad44;
$primaryMauve: #65617a;
$lightGray: #ccc;

/* breakpoints */
$mobileBreakpoint: 767px;
