@import "../../styles/variables.scss";

.upcomingShowRow {
  min-height: 80px;
  display: flex;
  border-bottom: 1px solid $lightGray;
  margin-bottom: $spacing;
  padding-bottom: $spacing;
  .dates {
    background-color: $primaryMauve;
    color: white;
    font-weight: bold;
    height: 75px;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    .monthDay {
      font-size: $baseFontSize * 1.5;
    }
  }

  .rightSide {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .mainDetails {
      margin-left: $spacing;
      .venueName {
        color: $primaryOrange;
        font-size: $baseFontSize * 1.5;
        font-weight: bold;
        margin-bottom: $spacing;
        .cityState {
          color: $mediumGray;
        }
      }
      .showNameLine {
        color: $mediumGray;
      }
    }
    .mobileOnlyTicketsLink {
      display: none;
    }
    .tickets {
      margin-left: $spacing;
      .pickAShow {
        font-weight: bold;
        margin-bottom: $halfSpacing;
      }
      select {
        margin-bottom: $halfSpacing;
      }
      button.ctaButton {
        display: block;
        margin-top: 0;
        padding: $spacing / 4;
      }
    }
  }
}

@media (max-width: $mobileBreakpoint) {
  .upcomingShowRow {
    padding: 0;
    border-top: 2px solid $mediumGray;
    border-bottom: 2px solid $mediumGray;
    min-height: unset;
    margin-bottom: $spacing / 4;
    .dates {
      height: 50px;
      .days {
        display: none;
      }
    }
    .rightSide {
      .mainDetails {
        margin-left: $halfSpacing;
        .venueName {
          font-size: $baseFontSize;
          .cityState {
            display: block;
          }
        }
        .showNameLine {
          display: none;
        }
      }
      .mobileOnlyTicketsLink {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        background-color: $primaryOrange;
        img {
          height: 25px;
          filter: contrast(10);
        }
        &:hover {
          cursor: pointer;
        }
      }
      .tickets {
        display: none;
      }
    }
  }
}
